{% extends "base.html" %}
{% load static%}

{% block content %}
<div class="card mb-5 mb-xl-8">
	<!--begin::Header-->
	<div class="card-header border-0 pt-5 bg-primary">
		<div class="col-12">
			{% if messages %}
			{% for message in messages %}
			{% if message.tags == 'error' %}
			<div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
			{% endif %}
			{% if message.tags == 'success' %}
			<div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
			{% endif %}
			{% endfor %}
			{% endif %}
		</div>
		<h3 class="card-title align-items-start flex-column ">
			<span class="card-label fw-bold fs-3 mb-1 ">Liste de disponibilité</span>
			<span class="text-muted mt-1 fw-semibold fs-7"></span>
		</h3>
		<div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
			title="Click to add a user">
			<a href="#" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
				<!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
				<span class="svg-icon svg-icon-3">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
							transform="rotate(-90 11.364 20.364)" fill="currentColor" />
						<rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
					</svg>
				</span>
				<!--end::Svg Icon-->Ajouter</a>
		</div>
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body py-3">
		<!--begin::Table container-->
		<div class="table-responsive">
			<div class="container mt-4">
  <!-- Affichage des disponibilités -->
<div class="row">
    {% for dispo in dispos %}
    <div class="col-md-3 mb-4">
        <div class="card card-custom shadow-lg h-100">
            <div class="card-body">
                <div class="text-center">
                    <h5 class="fs-3">{{ dispo.teacher.user.first_name }} {{ dispo.teacher.user.last_name }}</h5>
                    <p class="card-text fs-2">
                        Jour : {{ dispo.get_day_week_display }}<br>
                        Heure : {{ dispo.start_time|time:"H\\hi" }} - {{ dispo.end_time|time:"H\\hi" }}
                    </p>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="#" 
                       class="me-3 btn badge badge-primary p-2 edit-dispo-btn" 
                       data-bs-toggle="modal" 
                       data-bs-target="#editDispoModal" 
                       data-id="{{ dispo.pk }}"
                       data-day="{{ dispo.day_week }}"
                       data-start-time="{{ dispo.start_time }}"
                       data-end-time="{{ dispo.end_time }}">
                        Modifier
                    </a>
                    <a href="#" title="Supprimer" aria-label="Supprimer" class="me-3">
                        <i class="fa-solid fa-trash fa-2x" style="font-size: 20px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    <!-- Pagination Controls -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if dispos.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ dispos.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            
            {% for num in dispos.paginator.page_range %}
                {% if dispos.number == num %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if dispos.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ dispos.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ dispos.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>


			<!--end::Table-->
		</div>
		<!--end::Table container-->
	</div>
	<!--end::Body-->
</div>

<!-- MODAL DE CREATION -->
{% include "teacher/create_modal_form.html" %}

<!-- les modal de d'ajout du surplus pour le professeur ainsi que l'utilisateur  -->

{% comment %} <script>
	$(document).ready(function() {
		$('#semestre, #day').change(function() {
			var semestre = $('#semestre').val();
			var day = $('#day').val();
			if (semestre && day) {
				$.ajax({
					url: "{% url 'get_available_hours' %}",
					data: {
						'semestre': semestre,
						'day': day
					},
					success: function(response) {
						console.log(response); // Vérification de la réponse
						var options =
							'<option value="" selected="selected">Choisir la plage horaire...</option>';
						response.available_hours.forEach(function(hourRange) {
							// Convertir les heures en format lisible
							var startDate = new Date(hourRange.start_time);
							var endDate = new Date(hourRange.end_time);

							var start_time = startDate.toLocaleTimeString([], {
								hour: '2-digit',
								minute: '2-digit'
							});

							var end_time = endDate.toLocaleTimeString([], {
								hour: '2-digit',
								minute: '2-digit'
							});

							// Obtenir le jour de la semaine
							var optionsDay = { weekday: 'long' };
							var dayName = startDate.toLocaleDateString('fr-FR', optionsDay); // Jour en français

							options += '<option value="' + hourRange.id + '">' +
								dayName + ' ' + start_time + ' - ' + end_time + '</option>';
						});
						$('#rangetime').html(options);
					},
					error: function(xhr, status, error) {
						console.log("Erreur: ", error); // Log si erreur AJAX
						console.log("Détails: ", xhr.responseText); // Pour voir plus d'informations
					}
				});
			}
		});
	});
</script> {% endcomment %}


{% include "teacher/edit_modal.html" %}


<style>
	.card-custom {
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-custom .card-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.card-custom .card-subtitle {
    font-size: 1rem;
    color: #6c757d;
}

.card-custom .card-text {
    font-size: 0.875rem;
}

</style>


<!-- GESTION DU MODAL -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Sélectionner tous les boutons "Modifier"
        const editDispoBtns = document.querySelectorAll('.edit-dispo-btn');

        editDispoBtns.forEach(btn => {
            btn.addEventListener('click', function () {
                // Obtenir les données de l'attribut 'data-' du bouton
                const dispoId = this.getAttribute('data-id');
                const dayWeek = this.getAttribute('data-day');
                const startTime = this.getAttribute('data-start-time');
                const endTime = this.getAttribute('data-end-time');
                
                // Remplir les champs de la modal
                document.getElementById('dispo-id').value = dispoId;
                document.getElementById('day-week').value = dayWeek;
                document.getElementById('start-time').value = startTime;
                document.getElementById('end-time').value = endTime;
            });
        });

      
    });
</script>



{% endblock content %}