{% extends "base.html" %}
{% load static %}

{% block content %}
<!--begin::Card body-->
<div class="card-body p-9 pt-4">
<!--begin::Dates-->
<ul class="nav nav-pills d-flex flex-nowrap hover-scroll-x py-2">
    {% for day in days_of_week %}
    <li class="nav-item me-1">
        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-2 py-4 px-3 {% if selected_date == day|date:'Y-m-d' %}btn-active-primary active{% else %}btn-light{% endif %}" 
           href="?date={{ day|date:'Y-m-d' }}">
            <span class="opacity-50 fs-7 fw-semibold">{{ day|date:"l" }}</span>
            <span class="fs-6 fw-bold">{{ day|date:"d" }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
<!--end::Dates-->

<!--begin::Tab Content-->
<div class="tab-content">
    <div class="tab-pane fade show active">
        <!-- Itération sur les séances du jour sélectionné -->
        {% for seance in seances %}
        <div class="d-flex flex-stack position-relative mt-8">
            <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
            <div class="fw-semibold ms-5 text-gray-600">
                <div class="fs-5">{{ seance.start_time|date:"H:i" }} - {{ seance.end_time|date:"H:i" }}
                    <span class="fs-7 text-gray-400 text-uppercase">{{ seance.start_time|date:"A" }}</span>
                </div>
                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">{{ seance.course.name }}</a>
                <div class="text-gray-400">Animé par
                    <a href="#">{{ seance.course.Teacher.user.first_name }}</a>
                </div>
            </div>
            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">Voir</a>
        </div>
        {% empty %}
        <p class="alert alert-info">Vous n'avez pas cours Ajourd'hui.</p>
        {% endfor %}
    </div>
</div>
<!--end::Tab Content-->

</div>
<!--end::Card body--> 

{% endblock content %}
